@page "/articulos"
@using MyBlazorApp.ViewModels
@inject MyBlazorApp.Services.IArticulosService ArticulosSvc
@using MudBlazor
@rendermode InteractiveServer

<PageTitle>Articulos</PageTitle>

<h1>Artículos</h1>

<MudTable Items="articulos" Dense="true" Hover="true" Striped="true">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Descripción</MudTh>
        <MudTh>Precio</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Descripción">@context.Descripcion</MudTd>
        <MudTd DataLabel="Precio">@context.Precio</MudTd>
    </RowTemplate>
</MudTable>

<!--<MudTable T="Articulo"
          ServerData="LoadServerData"
          Dense="true"
          Hover="true"
          Striped="true"
          RowsPerPage="10"
          RowsPerPageOptions="new int[] { 10, 20, 50 }">

    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Descripción</MudTh>
        <MudTh>Precio</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Descripción">@context.Descripcion</MudTd>
        <MudTd DataLabel="Precio">@context.Precio</MudTd>
    </RowTemplate>

    <PagerContent>
        <MudTablePager InfoFormat="@("{0}-{1} de {2}")"
                       RowsPerPageString="Filas por página:" />
    </PagerContent>

</MudTable>-->

<hr />

Edite el Artículo:

<EditForm FormName="EditArticuloForm" Model="Articulo" class="d-flex gap-sm-0">
    <DataAnnotationsValidator></DataAnnotationsValidator>
   
    <label>Id:</label>
    <InputNumber class="form-control" @bind-Value="Articulo.Id" placeholder="nn" />
    <ValidationMessage For="() => Articulo.Id"></ValidationMessage>

    <label>Articulo:</label>
    <InputText class="form-control" @bind-Value="Articulo.Descripcion" placeholder="Descripcion" />

    <label>Precio:</label>
    <InputNumber class="form-control" @bind-Value="Articulo.Precio" placeholder="Precio" />

    <ValidationMessage For="() => Articulo.Precio"></ValidationMessage>
</EditForm>


@code {

    private Articulo Articulo { get; set; } = new Articulo();

    private List<Articulo>? articulos;

    protected override async Task OnInitializedAsync()
    {
        articulos = await ArticulosSvc.GetAllAsync();
    }

  /*  private async Task<TableData<Articulo>> LoadServerData(TableState state, CancellationToken cancellationToken)
    {
        // MudBlazor pasa página base 0, nuestro método usa base 1
        int pageToLoad = state.Page + 1;
        int pageSize = state.PageSize;

        var pagina = await ArticulosSvc.GetPageAsync(pageToLoad, pageSize);

        return new TableData<Articulo>
        {
            Items = pagina.Data,
            TotalItems = pagina.TotalRecords
        };
    }*/


}

